backend/.venv/
xuedingtoken-frontend/node_modules/
xuedingtoken-frontend/dist/
frontend/node_modules/
frontend/node_modules
frontend/dist/
frontend/vite.config.d.ts
frontend/vite.config.js
__pycache__/
*.pyc
.DS_Store
.env
.env.*
!.env.example
